* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

div {
    height: 400px;
    width: 500px;
    text-align: center;
    background-color: rgb(255, 207, 207);
    border-radius: 5%;
    justify-content: center;
    border: 2px solid rgb(255, 252, 252);
}

body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #d3cfcf, #ff5d5d);
}

button {
    background-color: aqua;
    border-radius: 20%;
}

input {
    border-radius: 20px;

}